<!-- form_for takes an array here, which builds a nested route such as /articles/1/comments -->
<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
  	<%= f.label :commenter %>
  	<%= f.text_field :commenter %>
  </p>
  <p>
  	<%= f.label :body %>
  	<%= f.text_area :body %>
  </p>
  <p>
  	<%= f.submit %>
  </p>
<% end %>