<div>
  <strong>Title:</strong>
  <%= @article.title %>
</div>

<div>
  <strong>Text:</strong>
  <%= @article.text %>
</div>

<h2>Comments</h2>
<!-- 'render' iterates over @article.comments collection, assigns each comment to a local var named the same as the partial, in this case 'comment' -->
<%= render @article.comments %>

<h2>Add a comment</h2>
<!-- Rails knows by this we mean 'render app/views/comments/_form.html.erb' -->
<%= render 'comments/form' %>

<%= link_to 'Edit this article', edit_article_path(@article) %> <br>
<%= link_to 'Back to the articles', articles_path %>