<div>
  <strong>Title:</strong>
  <%= @article.title %>
</div>

<div>
  <strong>Text:</strong>
  <%= @article.text %>
</div>

<h2>Comments</h2>
<!-- 'render' iterates over @article.comments collection, assigns each comment to a local var named the same as the partial, in this case 'comment' -->
<%= render @article.comments %>

<h2>Add a comment</h2>
<!-- form_for takes an array here, which builds a nested route such as /articles/1/comments -->
<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
  	<%= f.label :body %><br>
  	<%= f.text_area :body %>
  </p>
  <p>
  	<%= f.submit %>
  </p>
<% end %>

<%= link_to 'Edit this article', edit_article_path(@article) %> <br>
<%= link_to 'Back to the articles', articles_path %>